/* font-family: 'Bebas Neue', sans-serif;
font-family: 'Fira Sans', sans-serif;
font-family: 'Roboto', sans-serif; */

:root {
    /* fonts */
    --ab-title-font: 'Eczar', serif;
    --ab-subtitle-font: sans-serif;
    --ab-heading-font: 'Eczar', serif;
    --ab-body-font: sans-serif;

    /* text styles */
    --ab-font-size: 1.0rem;
    --ab-font-weight: 300;
    --ab-line-height: 1.5rem;
    --ab-title-color: var(--ab-dark-color);
    --ab-link-color: #91998c;
}

body {
    font-family: var(--ab-body-font);
    font-size: var(--ab-font-size);
    font-weight: var(--ab-font-weight);
    color: var(--ab-light-color);
    background: rgb(242, 243, 244);
    background: linear-gradient(180deg, rgba(242, 243, 244, 1) 0%, rgba(150, 150, 150, 1) 100%);
}


.hoverIcon {
    display: inline-block;
    /* Aligns icons side by side */
    margin-right: -6vw;
}

.dynamicFileImg {
    max-width: 100%;
    /* Ensures image scales with its container */
    height: auto;
    /* Maintain aspect ratio */
}

/* Responsive adjustments for smaller screens */
@media (max-width: 768px) {
    .hoverIcon {
        margin-right: 0;
        margin-bottom: 20px;
        /* Adds space below icons on small screens */
    }
}



/*Weird CSS*/


.h1TitleText {
    background-image: url(https://media.giphy.com/media/26BROrSHlmyzzHf3i/giphy.gif);
    background-size: cover;
    color: transparent;
    -moz-background-clip: text;
    -webkit-background-clip: text;
    text-transform: uppercase;
    font-size: 120px;
    margin: 10px 0;
    text-indent: 4%;
}

h6,
.h6,
h5,
.h5,
h4,
.h4,
h3,
.h3,
h2,
.h2,
h1,
.h1 {
    font-family: var(--ab-heading-font);
    font-weight: 700;
    /* text-transform: uppercase; */
    letter-spacing: .1rem;

}

a {
    color: #F78521;
    text-decoration: none;
}

a:hover {
    color: #E35540;

}

section {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.btn-primary {
    --bs-btn-bg: var(--ab-dark-color);
    --bs-btn-border-color: var(--ab-dark-color);
    --bs-btn-hover-bg: #F78521;
    --bs-btn-hover-color: var(--ab-dark-color);
}

.btn-primary:hover {
    background-color: #F78521;
    color: white;
    border-color: #F78521;
}

.titleShadow {
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.5);
}


.bwTextBtn-#F78521:hover {
    color: var(--ab-dark-color) !important;
}


#contact{
    background-color: #424242;
    background-image: url(/img/clouds.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}


.mainTitle {
    font-family: var(--ab-title-font);
    font-weight: 900;
    font-size: 3rem;
    height: 1rem;
    color: rgba(0, 0, 0, 1);
}

.subTitle {
    font-family: var(--ab-subtitle-font);
    font-size: 1.28rem;
    font-weight: 300;
}


#contact-card {
    background-color: transparent;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    border-color: transparent;
}

/* End Landing Section-Home */

/*section dividers to play with 
.section-page {
    padding-top: 5rem;
    padding-bottom: 5rem;
    position: relative;
    overflow: visible;
    margin-top: -3rem;
}

.section-page:nth-child(even),
.section-page:nth-child(even)>.container::after {
    background-color: var(--ab-cyan-300);
}

.section-page:nth-child(odd),
.section-page:nth-child(odd)>.container::after {
    background-color: var(--ab-cyan-800);
}

.section-page>.container::after {
    content: "";
    position: absolute;
    bottom: 1px;
    left: 0;
    right: 0;
    height: 3rem;

    /* clip-path: ellipse(50% 100% at top center); 
    z-index: 1;
}

.section-page:nth-child(even)>.container::after {
    clip-path: polygon(0% 0%, 100% 0%, 0% 100%);
}

.section-page:nth-child(odd)>.container::after {
    clip-path: polygon(100% 100%, 100% 0%, 0% 0%);
}
*/

/* End: Main Content */

/* Start: footer styles */
.socialIcons {
    font-size: 2rem;
    transition: #f72121 0.25s;
    color: var(--ab-grey-300);
}


footer.fixed-bottom {
    background-color: #201f1fd1;
}

.bugTrackLink {
    display: none;
}

.responsivePicture {
    max-width: 60vw;
}

.maxWidthContainer {
    max-width: 75vw;
}


/* End: footer styles */

/* Start: #home mobile styles */


.dynamicFileImg {
    max-width: 25vw;
    transition: transform 0.3s ease;
    /* Smooth transition for image */
}

.hoverIcon {
    position: relative;
    /* Position relative for absolute positioning of children */
    overflow: hidden;
    /* Hide overflowing parts */
}

.hoverIcon:hover {
    transform: scale(1.03) translateY(-2%);
    /* Scale effect on hover */
}

.hoverText {
    position: absolute;
    visibility: hidden;
    /* Initially hidden */
    color: #FFddaa;
    border-radius: 3px;
    padding: 5px;
    font-size: 14px;
    top: 100%;
    /* Start just below the image */
    left: 50%;
    transform: translate(-50%, 0);
    /* Center horizontally */
    text-align: center;
    z-index: 1;
    font-weight: 900;
    transition: visibility 0s, transform 0.3s ease;
    /* Transition for visibility and transform */
}

.hoverIcon:hover .hoverText {
    visibility: visible;
    transform: translate(-50%, -100%);
    /* Move above the image */
}



.customFlexColumn {
    display: flex;
    flex-direction: column;
}

.resumeIconScreenAdjustment {
    margin-left: 4vw;
    margin-top: 5vh;
}

.h1TitleText {
    font-size: 5rem !important;

}

.h2SubtitleText {
    font-size: 1.5rem !important;
    color: black;
}

.betterLineHeight {
    line-height: 7rem;
}

/* make the text below file icons display on hover */

/* .displayNoneContact {
    display: none;
}

.hoverIcon:hover .displayNoneContact {
    display: block;
} */

/* End: #home mobile styles */

/* Start: media queries */

/*/ Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    .mainTitle {
        font-size: 2rem;
        line-height: 5.5rem;
    }

    .hoverIcon:hover {
        transform: scale(1.03) translateY(-2%);
    }

    .h1TitleText {
        font-size: 7rem !important;
    }

    .h2SubtitleText {
        font-size: 3rem !important;
        color: rgba(350, 250, 250, 0.8)
    }

    .hoverText {
        position: absolute;
        visibility: hidden;
        color: #FFddaa;
        border-radius: 3px;
        padding: 5px;
        font-size: 14px;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
        z-index: 1;
        font-weight: 900;
    }

    .dynamicFileImg {
        max-width: 15vw;
    }

    #home {
        background-size: 100%;
    }

    .subTitle {
        font-size: 1.7rem;
        line-height: 1.2rem;
        letter-spacing: 0.18rem;
        padding-top: .25rem;
    }

    .bugTrackLink {
        display: none;
    }

    .customFlexColumn {
        display: flex;
        flex-direction: column;
    }

    .dynamicFileImg {
        max-width: 12vw;
    }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .bugTrackLink {
        display: block;
    }

    .responsivePicture {
        max-width: 30vw;
    }

    .dynamicFileImg {
        max-width: 45vw;
    }

    .customFlexColumn {
        display: flex;
        flex-direction: row;
    }


}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

    .dynamicFileImg {
        max-width: 11vw;
    }

    main {
        padding-bottom: 50px;
    }


}

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

    .dynamicFileImg {
        max-width: 11vw;
    }

    .resumeIconScreenAdjustment {
        margin-top: -5vh;
        margin-left: -6vw;
    }
}

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {

    .dynamicFileImg {
        max-width: 12vw;
    }
}

/* End: media queries */