/* font-family: 'Bebas Neue', sans-serif;
font-family: 'Fira Sans', sans-serif;
font-family: 'Roboto', sans-serif; */

:root {
    /* fonts */
    --ab-title-font: 'Bebas Neue', sans-serif;
    --ab-subtitle-font:'Fira Sans', sans-serif;
    --ab-heading-font: 'Bebas Neue', sans-serif;
    --ab-body-font: 'Roboto', sans-serif;

    /* basic colors */
    --ab-dark-color: #212121;
    --ab-light-color: #eeeeee;
    --ab-background-color: rgba(350, 250, 250, 0.8);

    /* text styles */
    --ab-font-size: 1.2rem;
    --ab-font-weight: 400;
    --ab-line-height: 1.5rem;
    --ab-title-color: var(--ab-dark-color);
    --ab-link-color: #ff8888;
}


/* Start: Element Overrides */
body {
    font-family: var(--ab-body-font);
    font-size: var(--ab-font-size);
    font-weight: var(--ab-font-weight);
    color: var(--ab-light-color);
    background: var(--ab-background-color);
}

h6,
.h6,
h5,
.h5,
h4,
.h4,
h3,
.h3,
h2,
.h2,
h1,
.h1 {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .1rem;
    
}

a {
    color: var(--ab-link-color);
    text-decoration: none;
}

a:hover {
    color: #ffe612;
    color: var(--ab-link-color);
}

section {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.btn-primary {
    --bs-btn-bg: var(--ab-dark-color);
    --bs-btn-border-color: #ffe612;
    --bs-btn-hover-bg: #ffe612;
    --bs-btn-hover-color: var(--ab-dark-color);
}

.btn-#ffe612:hover {
    background-color: #ffe612;
    color: var(--ab-dark-color);
    border-color: #ffe612;
}

/* End: Element Overrides */

/* Begin: Landing Section-Home */

#home {
    background-color: var(--ab-dark-color);
    background-image: url(/img/clouds.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

#homeCover {
    backdrop-filter: brightness(1.0) blur(0px);
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}


.mainTitle {
    font-family: var(--ab-title-font);
    font-size: 8rem;
    line-height: 1rem;
}

.subTitle {
    font-family: var(--ab-subtitle-font);
    font-size: 1.28rem;
    letter-spacing: .1rem;
    line-height: 1.1rem;
    font-weight: 300;
}

.mainLogo {
    height: .5em;
    padding-left: .1em;
}

/* End Landing Section-Home */

/* Start: Main Content */

.section-page {
    padding-top: 5rem;
    padding-bottom: 5rem;
    position: relative;
    overflow: visible;
    margin-top:-3rem;
}

.section-page:nth-child(even),
.section-page:nth-child(even)>.container::after {
    background-color:#424242;
}

.section-page:nth-child(odd),
.section-page:nth-child(odd)>.container::after {
    background-color: #2c2c2c;
}

/*section dividers to play with */

.section-page>.container::after {
content: "";
position: absolute;
bottom: 0;
left: 0;
right: 0;
height: 3rem;

/* clip-path: ellipse(50% 100% at top center); */
z-index: 1;
}

.section-page:nth-child(even)>.container::after {
    clip-path: polygon(0% 0%, 100% 0%, 0% 100%);
}

.section-page:nth-child(odd)>.container::after {
    clip-path: polygon(100% 100%, 100% 0%, 0% 0%);
}

/* End: Main Content */

/* Start: footer styles */
.socialIcons {
    font-size: 2rem;
    transition: color 0.25s;
    color: #91998c;
}

.socialIcons:hover {
    color: #ffe612;
}

footer.fixed-bottom {
    background-color: #333232;
}

.bugTrackLink {
    display: none;
}


/* End: footer styles */

/* Start: media queries */

/*/ Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    .mainTitle {
        font-size: 7rem;
        line-height: 5.5rem;
    }

    .subTitle {
        font-size: 1.7rem;
        line-height: 1.2rem;
        letter-spacing: 0.18rem;
        padding-top: .25rem;
    }

    .bugTrackLink {
        display: none;
    }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .bugTrackLink {
        display: block;
    }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {}

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {}

/* End: media queries */